body{
    /* background-color:#fee;
    background-image: url(images/5.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom

    height: 100vh;

    background: #fee url(images/5.jpg) no-repeat center bottom/contain ; */
}
h1, h2, p{
    font-family: 'Nanum Gothic Coding', monospace;
}
h1{
    color:#0bd;
    /* background-color: #faa; */

}
h2{
    color:blue;
}
p{
    color:rgba(10, 130, 165, .5); 
}

div{
    background-color: #fee;
    width: 500px;
    height: 300px;
    /* background: url(images/5.jpg) no-repeat; */
}